#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mediaLogo {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .mediaLogo {
    color: white;
  }
}

.snsButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.snsButton {
  width: 6em;
  margin: 0em 0.1em;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -25px;
}

footer {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 42px;
}

a, p {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

p.text {
  text-align: left;
  text-indent: 1em;
  margin: 2px;
}

.headerLinkTo {
  margin: auto 8px;
}